Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2018-10, with the labels that each got.

#2687 Bitcoin Core 0.17.0
  _releases/v0.17.0.md
Labels: Core

#2695 Update the documentation for getwalletinfo
  _data/devdocs/en/bitcoin-core/rpcs/rpcs/getwalletinfo.md
Labels: Dev Docs, Merge Scheduled

#2694 Add deprecated to signrawtransaction
  _data/devdocs/en/bitcoin-core/rpcs/rpcs/signrawtransaction.md
Labels: Dev Docs, Merge Scheduled

#2693 index: Drop 0.16.3 Upgrade Alert Notice from Homepage
  _includes/templates/index.html
Labels: Core, Merge Scheduled

#2654 buy: Non-renewal of Paxful Sponsorship
  _includes/templates/index.html
  _sass/screen.scss
  _templates/buy.html
  _translations/en.yml
Labels: Merge Scheduled

#2707 Fix privacy policy strings
  _includes/layout/base/footer-menu.html
Labels: Merge Scheduled

#2709 full-node: Add clarification to instrux for version number
  en/full-node.md
Labels: Merge Scheduled

#2714 Update Events Page
  _events.yml
Labels: Events, Merge Scheduled

#2711 Add missing translation strings
  _includes/layout/base-core/footer-license.html
  _includes/layout/base/footer-license.html
  _includes/layout/base/footer-menu.html
  _translations/en.yml
Labels: Merge Scheduled, Translations

#2716 _config: Update datadir size in gigabytes
  _config.yml
Labels: Core, Dev Docs, Merge Scheduled

#2717 Update Indonesian Translation
  _translations/id.yml
Labels: Merge Scheduled, Translations

#2710 exchanges: Add back NYA agreement companies
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2712 Add Copay wallet
  _translations/en.yml
  _wallets/copay.md
Labels: Merge Scheduled, Wallets

#2715 resources: Drop news section
  _templates/resources.html
Labels: Merge Scheduled

#2721 _translations/de: Update German Translation
  _translations/de.yml
Labels: Merge Scheduled, Translations

#2722 _translations/nl: Update Dutch Translation
  _config.yml
  _templates/development.html
  _translations/nl.yml
Labels: Merge Scheduled, Translations

#2729 Bitcoin Core 0.17.0.1
  _releases/v0.17.0.1.md
Labels: Core

#2700 Split developer guide up into multiple pages
  _data/devdocs/en/guides/block_chain.md
  _data/devdocs/en/guides/contracts.md
  _data/devdocs/en/guides/intro.md
  _data/devdocs/en/guides/mining.md
  _data/devdocs/en/guides/operating_modes.md
  _data/devdocs/en/guides/p2p_network.md
  _data/devdocs/en/guides/payment_processing.md
  _data/devdocs/en/guides/transactions.md
  _data/devdocs/en/guides/wallets.md
  _includes/layout/base/breadcrumbs.html
  _includes/references.md
  _layouts/devdoc-category.md
  _sass/screen.scss
  _templates/blockchain-guide.md
  _templates/contracts-guide.md
  _templates/developer-documentation.html
  _templates/developer-guide.md
  _templates/mining-guide.md
  _templates/operating-modes-guide.md
  _templates/p2p-network-guide.md
  _templates/payment-processing-guide.md
  _templates/transactions-guide.md
  _templates/wallets-guide.md
  _translations/en.yml
  js/main.js
Labels: Dev Docs, Merge Scheduled
