Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2018-09, with the labels that each got.

#2623 Add oldest argentinian exchange
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2620 Extended "Assisting with Translations" document
  docs/assisting-with-translations.md
Labels: Changes Requested, Translations

#2636 blog: Add new post recognizing translators
  _posts/2018-09-07-thanks-to-recent-translation-volunteers.md
  img/blog/free/transifex.png
Labels: Merge Scheduled

#2647 docs: Add note mentioning Hendrawan and background exp. for handling translations
  docs/assisting-with-translations.md
Labels: Merge Scheduled, Translations

#2649 screen: Fix dotted path on Getting Started page
  _sass/screen.scss
Labels: Merge Scheduled

#2606 Kriptomat.io added to exchanges list
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2626 Fix donation modal and footer bugs
  _alerts/2017-07-12-potential-split.md
  _includes/layout/base-core/footer-menu.html
  _includes/layout/base-core/html-head-extra.html
  _includes/layout/base/html-head.html
  _layouts/base-core.html
  _layouts/devdoc-category.md
  _layouts/development-sidebar.html
  _layouts/post.html
  _layouts/sidebar.html
  _templates/developer-documentation.html
  _templates/scams.html
  _templates/vocabulary.html
  en/version-history.html
Labels: Merge Scheduled

#2638 Add new Brazillian Brasil Bitcoin Exchange
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2644 add Shakepay to Canadian exchanges
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2664 Bitcoin Core 0.16.3
  _releases/v0.16.3.md
Labels: Core

#2633 Fix for overflow-x scrolling on mobile phones
  _sass/screen.scss
Labels: Changes Requested

#2665 _releases: Fix date
  _releases/v0.16.3.md
Labels: Merge Scheduled

#2666 Add an alert about CVE-2018-17144
  _alerts/2018-09-21-required-upgrade.md
  _includes/templates/index.html
  _sass/screen.scss
Labels: Alerts

#2667 _alerts: Additional cleanup of new alert message
  _alerts/2018-09-21-required-upgrade.md
Labels: Alerts, Merge Scheduled

#2675 Remove deprecated GreeenAddress android app
  _wallets/greenaddress.md
Labels: Under Review, Wallets

#2679 Bitcoin core 0.14.3 and 0.15.2
  _releases/v0.14.3.md
  _releases/v0.15.2.md
Labels: Core
