Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2018-06, with the labels that each got.

#2422 about-sidebar: Fix typo, 'begining'
  _layouts/about-sidebar.html
Labels: Merge Scheduled

#2430 _translations: Fix link pointing to broken Wiki page
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/de.yml
  _translations/el.yml
  _translations/en.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/hi.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/ko.yml
  _translations/nl.yml
  _translations/pl.yml
  _translations/pt_BR.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _translations/zh_TW.yml
Labels: Merge Scheduled

#2387 add value to offline signing
  _data/devdocs/en/examples/transactions.md
Labels: Under Review

#2448 _events: Update events calendar
  _events.yml
Labels: Merge Scheduled

#2449 Bitcoin Core 0.16.1
  _releases/v0.16.1.md
Labels: Core

#2445 Replaced the old "B⃦" by the actual Bitcoin UTF-8 symbol "₿" ...
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/de.yml
  _translations/el.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/hi.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/nl.yml
  _translations/pl.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sv.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _translations/zh_TW.yml
Labels: Merge Scheduled

#2441 Clarification for P2SH in the developer guide
  _data/devdocs/en/guides/transactions.md
Labels: Dev Docs, Merge Scheduled

#2435 Fixed the mistake in the number of zeroes for the Threshold value.
  img/dev/en-nbits-quick-parse.dot
  img/dev/en-nbits-quick-parse.png
  img/dev/en-nbits-quick-parse.svg
Labels: Dev Docs, Merge Scheduled

#2436 Fixed technical error in picture
  img/dev/en-block-height-vs-depth.dot
  img/dev/en-block-height-vs-depth.png
  img/dev/en-block-height-vs-depth.svg
Labels: Dev Docs, Merge Scheduled

#2437 Changed TX1 and TX2 to TX0 and TX1 to be coherent with the other figu…
  img/dev/en-signing-output-to-spend.dot
  img/dev/en-signing-output-to-spend.png
  img/dev/en-signing-output-to-spend.svg
Labels: Dev Docs, Merge Scheduled

#2368 Add Edge wallet to directory resource
  _translations/en.yml
  _wallets/edgewallet.md
  img/screenshots/edgewalletandroid.png
  img/screenshots/edgewalletios.png
  img/wallet/edgewallet.png
Labels: Merge Scheduled, Wallets

#2205 Add p2p exchange Hodl Hodl
  _templates/exchanges.html
Labels: Exchanges, Under Review

#2470 Fixed a couple small grammar/typo issues
  _data/devdocs/en/examples/transactions.md
Labels: Changes Requested, Core, Dev Docs

#2461 Adds 3xbit to the List of Brazilian Exchanges
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2486 Update Events Calendar
  _events.yml
Labels: Events, Merge Scheduled
