Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2018-12, with the labels that each got.

#2771 community: Drop Bitcoin Alliance of Canada
  _templates/community.html
Labels: Merge Scheduled

#2773 resources: Drop 'BitcoinFilm.org'
  _templates/resources.html
Labels: Merge Scheduled

#2774 exchanges: Drop Bitmae
  _templates/exchanges.html
Labels: Merge Scheduled

#2775 _translations: Update Portuguese (BR) Translation
  _config.yml
  _templates/development.html
  _translations/pt_BR.yml
Labels: Merge Scheduled, Translations

#2790 exchanges: Drop QuickBT
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2789 Improve CoinJoin Description
  _data/devdocs/en/guides/contracts.md
Labels: Dev Docs, Merge Scheduled

#2794 Bitcoin Core 0.17.1
  _releases/v0.17.1.md
Labels: Core

#2744 Rebrand digitalbitbox to BitBox
  _translations/de.yml
  _translations/en.yml
  _translations/id.yml
  _translations/nl.yml
  _translations/ru.yml
  _translations/sr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _wallets/bitbox.md
  img/screenshots/bitbox.png
  img/wallet/bitbox.png
  img/wallet/digitalbitbox.png
Labels: Merge Scheduled, Wallets
