Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2018-11, with the labels that each got.

#2720 List Digital Surge in Australia exchanges
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2740 Revert "Split developer guide up into multiple pages"
  _config.yml
  _data/devdocs/en/guides/block_chain.md
  _data/devdocs/en/guides/contracts.md
  _data/devdocs/en/guides/intro.md
  _data/devdocs/en/guides/mining.md
  _data/devdocs/en/guides/operating_modes.md
  _data/devdocs/en/guides/p2p_network.md
  _data/devdocs/en/guides/payment_processing.md
  _data/devdocs/en/guides/transactions.md
  _data/devdocs/en/guides/wallets.md
  _includes/layout/base/breadcrumbs.html
  _includes/references.md
  _layouts/devdoc-category.md
  _sass/screen.scss
  _templates/blockchain-guide.md
  _templates/contracts-guide.md
  _templates/developer-documentation.html
  _templates/developer-guide.md
  _templates/mining-guide.md
  _templates/operating-modes-guide.md
  _templates/p2p-network-guide.md
  _templates/payment-processing-guide.md
  _templates/transactions-guide.md
  _templates/wallets-guide.md
  _translations/en.yml
  js/main.js
Labels: Dev Docs

#2741 community: Remove Colombian Nonprofit
  _templates/community.html
Labels: Merge Scheduled

#2742 _translations/it: Update Italian Translation
  _config.yml
  _templates/development.html
  _translations/it.yml
Labels: Merge Scheduled, Translations

#2757 Update Events Page
  _events.yml
Labels: Events, Merge Scheduled

#2758 exchanges: Drop Bitwage
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2759 Add BIP70 deprecation warnings
  _data/devdocs/en/examples/payment_processing.md
  _data/devdocs/en/guides/payment_processing.md
  _data/devdocs/en/guides/transactions.md
  _data/devdocs/en/references/p2p_networking.md
  _data/glossary/en/payment-protocol.yaml
Labels: Core, Merge Scheduled

#2766 _translations: Update Japanese Translation
  _templates/development.html
  _translations/ja.yml
Labels: Merge Scheduled, Translations
