Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2018-07, with the labels that each got.

#2451 Add IBD section in the full node guide
  en/full-node.md
Labels: Core, Merge Scheduled

#2493 Alert key disclosure and vulnerabilities blog post
  _alerts/2016-11-01-alert-retirement.md
  _posts/2018-07-03-alert-key-and-vulnerabilities-disclosure.md
Labels: Alerts, Merge Scheduled

#2485 Add Paxful Sponsorship
  _includes/templates/index.html
  _posts/2018-07-03-new-supporting-sponsorship-from-paxful.md
  _sass/screen.scss
  _templates/about-us.html
  _templates/buy.html
  _templates/exchanges.html
  _translations/en.yml
  img/buy/paxful.png
Labels: Merge Scheduled

#2483 Adds "Koinim.com" to list of Turkish crypto markets.
  _templates/exchanges.html
  img/flags/TR.svg
Labels: Exchanges, Merge Scheduled

#2519 update to replaced Desktop app, deprecate web
  _wallets/greenaddress.md
Labels: Wallets

#2516 Add P2P section on Exchanges page
  _sass/screen.scss
  _templates/exchanges.html
  _translations/en.yml
Labels: Exchanges, Merge Scheduled

#2492 Add Cryptoradar to exchange list
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2511 Add Serbian Translation
  _config.yml
  _translations/sr.yml
Labels: Merge Scheduled, Translations

#2521 Update IRC channel: #bitcoin-dev → #bitcoin-core-dev
  _templates/community.html
Labels: Merge Scheduled

#2523 Update German Translation
  _config.yml
  _templates/development.html
  _translations/de.yml
Labels: Merge Scheduled, Translations

#2525 Update Chinese Translation
  _templates/development.html
  _translations/zh_CN.yml
Labels: Merge Scheduled, Translations

#2530 bither: Remove Bither for iOS
  _wallets/bither.md
Labels: Wallets

#2526 Update Indonesian Translation
  _config.yml
  _templates/development.html
  _translations/id.yml
Labels: Merge Scheduled, Translations

#2529 External Link Maintenance (Drop/Update)
  _data/devdocs/en/guides/operating_modes.md
  _events.yml
  _templates/community.html
  _templates/exchanges.html
  _templates/press.html
  _translations/da.yml
  _translations/es.yml
  _translations/fr.yml
  _translations/it.yml
  _translations/pl.yml
  _translations/ru.yml
  _translations/sv.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  docs/contributing-to-developer-documentation.md
  it/bitcoin-core/capacity-increases-faq.md
  it/bitcoin-core/capacity-increases.md
Labels: Merge Scheduled

#2542 Fix duplicate string on About Us page
  _layouts/about-sidebar.html
  _translations/en.yml
Labels: Bug, Merge Scheduled

#2534 Move deterministic nonce wallet criteria from optional to required
  docs/managing-wallets.md
Labels: Merge Scheduled, Wallets

#2553 Small exchange page fixes
  _templates/exchanges.html
Labels: Exchanges

#2560 Bitcoin Core 0.16.2
  _releases/v0.16.2.md
Labels: Core

#2558 Exchange Page Maintenance
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2561 Add Bither for iOS Back
  _wallets/bither.md
Labels: Wallets
