Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-08, with the labels that each got.

#3061 Add guidance on trademark capitalization
  docs/managing-wallets.md
Labels: Merge Scheduled, Wallets

#3063 Update p2p reference
  _autocrossref.yaml
  _data/devdocs/en/references/p2p_networking.md
  _includes/references.md
Labels: Dev Docs, Merge Scheduled

#3068 Bitcoin Core 0.18.1
  _releases/v0.18.1.md
Labels: Core, Merge Scheduled

#3066 Drop Green Address
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/de.yml
  _translations/el.yml
  _translations/en.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/hi.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/ko.yml
  _translations/nl.yml
  _translations/pl.yml
  _translations/pt_BR.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sr.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _translations/zh_TW.yml
  _wallets/greenaddress.md
  en/bitcoin-core/features/privacy.md
  en/bitcoin-core/features/user-interface.md
  img/screenshots/greenaddressandroid.png
  img/screenshots/greenaddressdesktop.png
  img/screenshots/greenbits.png
  img/wallet/greenaddress.png
Labels: Merge Scheduled, Wallets

#3070 removed past events. Added pending event. When merged, closes #3064
  _events.yml
Labels: Events, Merge Scheduled

#3074 Clarify note about relay field
  _data/devdocs/en/references/p2p_networking.md
Labels: Dev Docs, Merge Scheduled

#3086 bitcoin-paper: Ensure Korean filename matches ISO standard
  _templates/bitcoin-paper.html
  files/bitcoin-paper/bitcoin_ko.pdf
Labels: Merge Scheduled, Translations

#3087 Remove disappeared torrent trackers
  _build/update_torrent.sh
Labels: Core, Merge Scheduled

#3077 Update regtest block generation command
  _data/devdocs/en/examples/testing.md
Labels: Dev Docs, Merge Scheduled
