Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-04, with the labels that each got.

#2916 Temporarily remove GreenAddress until further review
  _wallets/greenaddress.md
  _wallets/greenbits.md
  img/wallet/greenbits.png
Labels: Wallets

#2859 Change Wasabi transparency to checkgoodtransparencydeterministic
  _wallets/wasabi.md
Labels: Wallets

#2876 Fix Wrong Language Name
  _config.yml
Labels: Translations

#2919 Add list of standard transaction types
  _data/devdocs/en/guides/transactions.md
Labels: Dev Docs, Merge Scheduled

#2912 Remove incorrect explanation of `verifymessage`
  _data/devdocs/en/bitcoin-core/rpcs/rpcs/verifymessage.md
Labels: Dev Docs, Merge Scheduled

#2923 Events housekeeping
  _events.yml
Labels: Changes Requested, Events

#2924 Drop Google+ Bitcoin Community from Community Page
  _templates/community.html
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/de.yml
  _translations/el.yml
  _translations/en.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/hi.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/ko.yml
  _translations/nl.yml
  _translations/pl.yml
  _translations/pt_BR.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sr.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _translations/zh_TW.yml
Labels: Merge Scheduled

#2925 community: Drop 'Dansk Bitcoinforening'
  _templates/community.html
Labels: Merge Scheduled

#2932 full-node: Fix broken link to Upstart script
  en/full-node.md
Labels: Core

#2935 Update es.yml
  _translations/es.yml
Labels: Translations

#2936 resources: Update TradeBlock link
  _templates/resources.html
Labels: Merge Scheduled

#2939 Update es.yml
  _translations/es.yml
Labels: Translations

#2903 Corrected data message type identifiers
  _data/devdocs/en/references/p2p_networking.md
Labels: Dev Docs, Merge Scheduled

#2942 Removidos los enlaces no disponibles
  _translations/es.yml
Labels: Translations

#2922 Add Bitbuy to Exchanges
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2937 community: Add Asociación Bitcoin Chile
  _templates/community.html
Labels: Merge Scheduled
