Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-06, with the labels that each got.

#2982 Include new canadian exchange!
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2996 Bitcoin paper: Add Dutch and Slovak translations
  _templates/bitcoin-paper.html
  files/bitcoin-paper/bitcoin_nl.pdf
  files/bitcoin-paper/bitcoin_sk.pdf
Labels: Merge Scheduled, Translations

#2998 Fix incorrect colors associated with wallet scores
  .gitignore
  _sass/_wallets.scss
  css/rtl.scss
  img/icons/checkbubble_fail.png
  img/icons/checkbubble_fail.svg
  img/icons/checkbubble_fail_rtl.png
  img/icons/checkbubble_fail_rtl.svg
  img/icons/checkbubble_good.png
  img/icons/checkbubble_good.svg
  img/icons/checkbubble_good_rtl.png
  img/icons/checkbubble_good_rtl.svg
  img/icons/checkbubble_pass.png
  img/icons/checkbubble_pass.svg
  img/icons/checkbubble_pass_rtl.png
  img/icons/checkbubble_pass_rtl.svg
  img/icons/ico_check_fail.png
  img/icons/ico_check_fail.svg
  img/icons/ico_check_good.png
  img/icons/ico_check_good.svg
  img/icons/ico_check_neutral.png
  img/icons/ico_check_neutral.svg
  img/icons/ico_check_pass.png
  img/icons/ico_check_pass.svg
Labels: Bug, Wallets

#3006 translations: Update link to Telegram group for site translators
  _posts/2018-09-14-how-to-translate.md
  docs/assisting-with-translations.md
Labels: Merge Scheduled, Translations

#3011 exchanges: Drop 'bitFlyer' from Japanese exchanges
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3012 exchanges: Drop 'iCE3X' from South African exchanges
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3013 exchanges: Drop 'Bitcoin Australia'
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3015 index: Fix missing translation on homepage - 'What is Bitcoin?'
  _includes/templates/index.html
Labels: Merge Scheduled, Translations

#3010 translations: Update German Translation
  _translations/de.yml
Labels: Merge Scheduled, Translations

#3025 exchanges: Drop 'CoinLoft'
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3026 exchanges: Drop Luno from Singapore
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled
