Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-02, with the labels that each got.

#2788 Add Wasabi Wallet
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/de.yml
  _translations/el.yml
  _translations/en.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/hi.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/ko.yml
  _translations/nl.yml
  _translations/pl.yml
  _translations/pt_BR.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sr.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _translations/zh_TW.yml
  _wallets/wasabi.md
  img/screenshots/wasabi.png
  img/wallet/wasabi.png
Labels: Merge Scheduled, Wallets

#2840 KeepKey has deterministic builds
  _wallets/keepkey.md
Labels: Wallets

#2808 Add Eclair Mobile
  _translations/en.yml
  _translations/fr.yml
  _wallets/eclairmobile.md
  img/screenshots/eclairmobile.png
  img/wallet/eclairmobile.png
Labels: Merge Scheduled, Wallets

#2850 Update Events Page
  _events.yml
Labels: Events, Merge Scheduled

#2841 Update Tor support for Electrum on Android
  _wallets/electrum.md
Labels: Merge Scheduled, Wallets

#2851 wallets: Remove Arcbit
  _translations/de.yml
  _translations/en.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/nl.yml
  _translations/pt_BR.yml
  _translations/ru.yml
  _translations/sr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _wallets/arcbit.md
  img/screenshots/arcbitdesktop.png
  img/screenshots/arcbitios.png
Labels: Wallets

#2852 wallets: Remove Simple Bitcoin Wallet
  _translations/de.yml
  _translations/en.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/nl.yml
  _translations/pt_BR.yml
  _translations/ru.yml
  _translations/sr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _wallets/simplebitcoinwallet.md
  img/screenshots/simplebitcoinwalletandroid.png
Labels: Wallets

#2786 Restore test functionality
  _alerts/2017-07-12-potential-split.md
  _contrib/bco-htmlproof
  _includes/helpers/subhead-links.md
  _templates/developer-documentation.html
  _translations/nl.yml
Labels: Tests

#2856 wallets: Remove Airbitz Wallet
  _translations/da.yml
  _translations/de.yml
  _translations/en.yml
  _translations/fr.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/nl.yml
  _translations/pl.yml
  _translations/pt_BR.yml
  _translations/ru.yml
  _translations/sr.yml
  _translations/sv.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _wallets/airbitzwallet.md
  img/screenshots/airbitzwalletandroid.png
  img/screenshots/airbitzwalletios.png
Labels: Wallets

#2838 added bitaps.com to Charts and Statistics
  _templates/resources.html
Labels: Merge Scheduled

#2855 wallets-filter: Remove conditional to hide current wallet from selector
  _includes/layout/base/wallets-filter.html
Labels: Merge Scheduled, Wallets

#2848 Remove Copay
  _translations/en.yml
  _wallets/copay.md
  img/screenshots/copay.png
  img/wallet/copay.png
Labels: Merge Scheduled, Wallets

#2857 _posts: Add 'Bitcoin.org Content Now Available in 25+ Languages'
  _posts/2019-02-14-site-now-available-in-25-plus-languages.md
  img/blog/free/site-now-available-in-25-plus-languages.gif
Labels: Merge Scheduled, Translations

#2806 Update to using SVG logo
  _includes/layout/base/head-logo.html
  img/icons/logotop.svg
Labels: Merge Scheduled

#2866 community: Remove Bitcoin Organization of the Philippines
  _templates/community.html
Labels: Merge Scheduled

#2865 Add bitpay wallet
  _translations/en.yml
  _wallets/bitpay.md
  img/screenshots/bitpay.png
  img/wallet/bitpay.png
Labels: Merge Scheduled, Wallets
