Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-10, with the labels that each got.

#3130 en: Match POV across questions in wallet wizard
  _translations/en.yml
Labels: Merge Scheduled, Wallets

#3125 blog: Add 'Recognizing Recent Efforts By Volunteer Contributors on the Translation Team
  _posts/2019-09-26-recognizing-efforts-contributors-to-translation-team.md
Labels: Merge Scheduled, Translations

#3123 Update Japanese Translation
  _translations/ja.yml
Labels: Merge Scheduled, Translations

#3131 Update exchanges.html
  _templates/exchanges.html
Labels: Exchanges

#3129 Remove optional security audit wallet criteria
  docs/managing-wallets.md
Labels: Merge Scheduled, Wallets

#3144 getting-started: Update tax compliance link to correct page
  _templates/getting-started.html
Labels: Merge Scheduled
