Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-03, with the labels that each got.

#2874 Fix number of allowed Inv. message type identifier
  _data/devdocs/en/references/p2p_networking.md
Labels: Dev Docs

#2890 js/events: Use https for tileLayer
  js/events.js
Labels: Events, Merge Scheduled

#2875 Add event listing for Bitcoin 2019 conference
  _events.yml
Labels: Events

#2895 Update laanwj gpg keys
  laanwj-releases.asc
  laanwj.asc
Labels: Security

#2896 _templates/events: Drop Leaflet
  _templates/events.html
  js/events.js
  js/leaflet-markercluster/MIT-LICENCE.txt
  js/leaflet-markercluster/MarkerCluster.Default.css
  js/leaflet-markercluster/MarkerCluster.css
  js/leaflet-markercluster/leaflet.markercluster.js
  js/leaflet/LICENSE.txt
  js/leaflet/images/layers-2x.png
  js/leaflet/images/layers.png
  js/leaflet/images/marker-icon-2x.png
  js/leaflet/images/marker-icon.png
  js/leaflet/images/marker-shadow.png
  js/leaflet/leaflet.css
  js/leaflet/leaflet.js
Labels: Merge Scheduled

#2884 Update node service identifier flags
  _data/devdocs/en/references/p2p_networking.md
  _includes/references.md
Labels: Dev Docs, Merge Scheduled

#2888 Changed verbal tense to reflect currently provided consensus sharing from v 0.10.
  _data/devdocs/en/references/intro.md
Labels: Dev Docs
