Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-11, with the labels that each got.

#3180 Update Events Pages
  _events.yml
Labels: Events, Merge Scheduled

#3178 bitcoin-paper: Add Hebrew, Persian, Polish and Romanian translations
  _templates/bitcoin-paper.html
  files/bitcoin-paper/bitcoin_fa.pdf
  files/bitcoin-paper/bitcoin_iw.pdf
  files/bitcoin-paper/bitcoin_pl.pdf
  files/bitcoin-paper/bitcoin_ro.pdf
Labels: Translations

#3177 update uk.yml
  _translations/uk.yml
Labels: Translations

#3181 en: Update wallet description for Coin
  _translations/en.yml
Labels: Merge Scheduled, Wallets

#3182 translations/en: Fix missing preposition, "with"
  _translations/en.yml
Labels: Merge Scheduled, Wallets

#3184 Fix newly added Bitcoin paper PDFs
  files/bitcoin-paper/bitcoin_fa.pdf
  files/bitcoin-paper/bitcoin_pl.pdf
  files/bitcoin-paper/bitcoin_ro.pdf
Labels: Merge Scheduled, Translations

#3189 Wallet localization cleanup
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/el.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/hi.yml
  _translations/ko.yml
  _translations/pl.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/uk.yml
  _translations/zh_TW.yml
Labels: Translations, Wallets

#3192 translations: Drop useBitcoins.info
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/el.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/hi.yml
  _translations/id.yml
  _translations/ko.yml
  _translations/pl.yml
  _translations/ro.yml
  _translations/sl.yml
  _translations/sr.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/zh_TW.yml
Labels: Merge Scheduled, Translations

#3194 Bitcoin Core 0.19.0.1
  _releases/v0.19.0.1.md
Labels: Core

#3186 Clarify wallet private key criterion
  docs/managing-wallets.md
Labels: Merge Scheduled, Wallets

#3197 Update hero-social.html
  _includes/helpers/hero-social.html
Labels: Bug

#3191 New documentation for adding exchanges (related: #3174)
  README.md
  docs/adding-exchanges.md
Labels: Exchanges, Merge Scheduled
