Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-01, with the labels that each got.

#2799 Update Events Page
  _events.yml
Labels: Events, Merge Scheduled

#2763 Markdown fixes
  _data/devdocs/en/bitcoin-core/api-intro.md
  _data/devdocs/en/bitcoin-core/rpcs/intro.md
  _data/devdocs/en/bitcoin-core/rpcs/rpcs/ping.md
  _data/devdocs/en/examples/transactions.md
Labels: Core, Dev Docs, Under Review

#2778 [sv] Fixed spelling mistakes
  _translations/sv.yml
Labels: Translations, Under Review

#2801 exchanges: Change name to 'iCE3X'
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2802 community: Drop 'Belgian Bitcoin Association'
  _templates/community.html
Labels: Merge Scheduled

#2777 Add bitbank to Japan exchanges list
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#2809 Add Bitcoin Paper Translations
  _includes/layout/base/footer-menu.html
  _includes/layout/base/head-menu.html
  _templates/bitcoin-paper.html
  _translations/en.yml
  files/bitcoin-paper/bitcoin_ar.pdf
  files/bitcoin-paper/bitcoin_de.pdf
  files/bitcoin-paper/bitcoin_es.pdf
  files/bitcoin-paper/bitcoin_fr.pdf
  files/bitcoin-paper/bitcoin_gr.pdf
  files/bitcoin-paper/bitcoin_hu.pdf
  files/bitcoin-paper/bitcoin_id.pdf
  files/bitcoin-paper/bitcoin_it.pdf
  files/bitcoin-paper/bitcoin_jp.pdf
  files/bitcoin-paper/bitcoin_kr.pdf
  files/bitcoin-paper/bitcoin_lt.pdf
  files/bitcoin-paper/bitcoin_pt.pdf
  files/bitcoin-paper/bitcoin_pt_br.pdf
  files/bitcoin-paper/bitcoin_ru.pdf
  files/bitcoin-paper/bitcoin_se.pdf
  files/bitcoin-paper/bitcoin_vi.pdf
  files/bitcoin-paper/bitcoin_zh_cn.pdf
Labels: Merge Scheduled, Translations

#2814 Fixed translation
  _translations/pl.yml
Labels: Translations, Under Review

#2823 Update conditionals and relative links pointing to translated pages
  _config.yml
  _includes/layout/base/footer-menu.html
  _includes/layout/base/head-menu.html
  _templates/getting-started.html
Labels: Merge Scheduled, Translations
