Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-12, with the labels that each got.

#3205 bitcoin-paper: Fix typo
  _templates/bitcoin-paper.html
Labels: Merge Scheduled, Translations

#3157 Adding Edge wallet back
  _translations/de.yml
  _translations/en.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/nl.yml
  _translations/pt_BR.yml
  _wallets/edgewallet.md
  img/screenshots/edgewalletandroid.png
  img/screenshots/edgewalletios.png
  img/wallet/edgewallet.png
Labels: Merge Scheduled, Wallets

#3213 Update Events Page
  _events.yml
Labels: Events, Merge Scheduled

#3206 Update mSigna link
  en/bitcoin-core/features/user-interface.md
Labels: Wallets

#3226 travis: Add additional parameters
  .travis.yml
  Makefile
Labels: Merge Scheduled

#3225 Update Mycelium transparency score
  _wallets/mycelium.md
Labels: Wallets

#3223 wallets: Drop mSIGNA
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/de.yml
  _translations/el.yml
  _translations/en.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/hi.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/ko.yml
  _translations/nl.yml
  _translations/pl.yml
  _translations/pt_BR.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sr.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _translations/zh_TW.yml
  _wallets/msigna.md
  en/bitcoin-core/features/user-interface.md
  img/screenshots/msigna.png
  img/wallet/msigna.png
Labels: Wallets

#3228 Drop unresponsive sites from Community page
  _templates/community.html
Labels: Merge Scheduled
