Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2019-07, with the labels that each got.

#3028 Add blw
  _translations/en.yml
  _translations/ru.yml
  _translations/uk.yml
  _wallets/blw.md
  img/screenshots/blwandroid.png
  img/wallet/blw.png
Labels: Merge Scheduled, Wallets

#3034 Bitcoin paper: Add Thai translation
  _templates/bitcoin-paper.html
  files/bitcoin-paper/bitcoin_th.pdf
Labels: Merge Scheduled, Translations

#3039 Fix tables
  _data/devdocs/en/guides/p2p_network.md
  _data/devdocs/en/references/block_chain.md
Labels: Dev Docs

#3036 Reflect correct transaction version type
  _data/devdocs/en/references/transactions.md
Labels: Dev Docs

#3044 Update Bither to indicate HD wallet is now the default
  _wallets/bither.md
Labels: Wallets

#3021 Adds Coinberry to the list of Canadian exchanges
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3049 exchanges: Remove Bit2C
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3052 Fix grammatical error
  _data/devdocs/en/guides/wallets.md
Labels: Wallets

#3050 Rename Coin.Space to Coin
  _translations/de.yml
  _translations/en.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/nl.yml
  _translations/pt_BR.yml
  _translations/ru.yml
  _translations/sr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _wallets/coin.md
  img/screenshots/coinmobile.png
  img/screenshots/coinspacemobile.png
  img/screenshots/coinspaceweb.png
  img/screenshots/coinweb.png
  img/wallet/coin.png
Labels: Changes Requested, Wallets

#3037 Add GET BlockHashByHeight
  _data/devdocs/en/bitcoin-core/api-intro.md
  _data/devdocs/en/bitcoin-core/rest/quick-reference.md
  _data/devdocs/en/bitcoin-core/rest/requests/get_block-notxdetails.md
  _data/devdocs/en/bitcoin-core/rest/requests/get_block.md
  _data/devdocs/en/bitcoin-core/rest/requests/get_blockhashbyheight.md
  _data/devdocs/en/bitcoin-core/rest/requests/get_headers.md
  _includes/references.md
Labels: Dev Docs, Merge Scheduled

#3046 exchanges: Re-add bitFlyer (JP, EU)
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3048 Add guidance for wallet descriptions
  docs/managing-wallets.md
Labels: Merge Scheduled, Wallets

#3056 Tests: ensure wallet description lengths are under 320 chars
  Makefile
Labels: Merge Scheduled
