Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2020-06, with the labels that each got.

#3360 translations: Update German
  _translations/de.yml
Labels: Merge Scheduled, Translations

#3361 Update Bitcoin paper translators
  _templates/bitcoin-paper.html
Labels: Merge Scheduled, Translations

#3369 Remove Coin Wallet
  _includes/layout/base/helper-step-1.html
  _includes/layout/base/wallets-selector.html
  _translations/de.yml
  _translations/en.yml
  _translations/he.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/nl.yml
  _translations/pt_BR.yml
  _translations/ru.yml
  _translations/sr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _wallets/coin.md
  img/screenshots/coinmobile.png
  img/screenshots/coinweb.png
  img/wallet/coin.png
Labels: Merge Scheduled, Wallets

#3372 Bitcoin Core 0.20.0
  _releases/v0.20.0.md
  _templates/download.html
Labels: Core

#3343 Fix rtl text styles
  _layouts/wallet-container.html
  _sass/_wallets.scss
  css/rtl.scss
Labels: Translations

#3375 RTL improvements
  _layouts/wallet-container.html
  _sass/_wallets.scss
  css/rtl.scss
Labels: Merge Scheduled, Translations

#3379 Update Wasabi fee control override
  _wallets/wasabi.md
Labels: Merge Scheduled, Wallets

#3386 exchanges: Remove Buenbit
  _templates/exchanges.html
Labels: Exchanges

#3389 exchanges: Remove Bitex
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3390 exchanges: Remove Ripio
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3388 Update rtl.scss: footer issue for RTL languages
  css/rtl.scss
Labels: Translations

#3384 exchanges: Remove Foxbit
  _templates/exchanges.html
Labels: Exchanges

#3391 Add hardware wallet support for Wasabi
  _wallets/wasabi.md
Labels: Merge Scheduled, Wallets

#3393 Add hardware wallet support for Mycelium
  _wallets/mycelium.md
Labels: Merge Scheduled, Wallets
