Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2020-01, with the labels that each got.

#3230 LICENSE: Update year to 2020
  LICENSE
Labels: Merge Scheduled

#3233 translations: Update/standardize social media links
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/de.yml
  _translations/el.yml
  _translations/en.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/hi.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/ko.yml
  _translations/nl.yml
  _translations/pl.yml
  _translations/pt_BR.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sr.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _translations/zh_TW.yml
Labels: Merge Scheduled

#3183 Add Bitvavo to European exchanges
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3238 Update events page
  _events.yml
Labels: Events, Merge Scheduled

#3242 translations: Fix link to BitGive
  _translations/de.yml
  _translations/en.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/nl.yml
  _translations/pt_BR.yml
  _translations/ru.yml
  _translations/sr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
Labels: Merge Scheduled

#3244 eclairmobile: Point to mainnet version
  _wallets/eclairmobile.md
Labels: Wallets

#3142 Change bitbox product listing to bitbox02-btc
  _translations/en.yml
  _wallets/bitbox.md
  img/screenshots/bitbox.png
  img/wallet/bitbox.png
Labels: Wallets

#3247 exchanges: Add Bitvavo to Netherlands
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3251 exchanges: Drop OmniTrade
  _templates/exchanges.html
Labels: Exchanges

#3255 Update events page
  _events.yml
Labels: Events, Merge Scheduled
