Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2020-05, with the labels that each got.

#3322 Update German Translation
  _translations/de.yml
Labels: Merge Scheduled, Translations

#3323 Update Serbian Translation
  _translations/sr.yml
Labels: Merge Scheduled, Translations

#3324 Update Japanese Translation
  _translations/ja.yml
Labels: Merge Scheduled, Translations

#3325 Update Italian Translation
  _translations/it.yml
Labels: Merge Scheduled, Translations

#3326 Update Indonesian Translation
  _translations/id.yml
Labels: Merge Scheduled, Translations

#3327 Add Hebrew Translation
  _config.yml
  _includes/layout/base/html-head.html
  _translations/he.yml
Labels: Merge Scheduled, Translations

#3317 Redirect documentation links
  _config.yml
Labels: Dev Docs, Redesign

#3341 travis: Fix deprecation warnings
  .travis.yml
  Makefile
Labels: Merge Scheduled

#3346 Drop redirects for localized pages
  _config.yml
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/el.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/he.yml
  _translations/hi.yml
  _translations/ko.yml
  _translations/pl.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/uk.yml
  _translations/zh_TW.yml
Labels: Merge Scheduled, Translations

#3350 translations: Update incorrect references to repo
  _translations/ar.yml
  _translations/bg.yml
  _translations/da.yml
  _translations/de.yml
  _translations/el.yml
  _translations/en.yml
  _translations/es.yml
  _translations/fa.yml
  _translations/fr.yml
  _translations/he.yml
  _translations/hi.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/ko.yml
  _translations/nl.yml
  _translations/pl.yml
  _translations/pt_BR.yml
  _translations/ro.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sr.yml
  _translations/sv.yml
  _translations/tr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _translations/zh_TW.yml
Labels: Merge Scheduled, Translations

#3338 Bitcoin paper: Add Finnish translation
  _templates/bitcoin-paper.html
  files/bitcoin-paper/bitcoin_fi.pdf
Labels: Merge Scheduled, Translations

#3339 Bitcoin paper: Add Hindi translation
  _templates/bitcoin-paper.html
  files/bitcoin-paper/bitcoin_hi.pdf
Labels: Merge Scheduled, Translations

#3340 Bitcoin paper: Add Turkish translation
  _templates/bitcoin-paper.html
  files/bitcoin-paper/bitcoin_tr.pdf
Labels: Merge Scheduled, Translations

#3349 exchanges: Add Binance to Europe
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3351 config: Update block reward from 12.5 to 6.25
  _config.yml
Labels: Merge Scheduled

#3354 bitcoin-paper: Finnish translator credits
  _templates/bitcoin-paper.html
Labels: Merge Scheduled, Translations

#3358 bitcoin-paper: Update Hebrew translation
  _templates/bitcoin-paper.html
  files/bitcoin-paper/bitcoin_iw.pdf
Labels: Merge Scheduled, Translations

#3353 Upgrade Jekyll to 4.0.1
  .travis.yml
  Gemfile
  Gemfile.lock
  _config.yml
  _includes/layout/base/wallets-list.html
  _includes/layout/base/wallets-selector.html
  _layouts/wallet-container.html
  _plugins/alphab_for.rb
  _templates/scams.html
  _templates/vocabulary.html
  _wallets/mycelium.md
  en/rss/blog.xml
  img/wallet/mycelium.png
  js/cookieconsent/cookieconsent.js
Labels: Merge Scheduled
