Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2020-02, with the labels that each got.

#3257 update bitcoin version to 0.19.0.1
  en/full-node.md
Labels: Core, Merge Scheduled

#3246 BitBox02 pages
  _translations/de.yml
  _translations/en.yml
  _translations/es.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/nl.yml
  _translations/pt_BR.yml
  _translations/ru.yml
  _translations/sl.yml
  _translations/sr.yml
  _translations/uk.yml
  _translations/zh_CN.yml
  _wallets/bitbox.md
  img/screenshots/bitbox.png
  img/screenshots/bitbox02.png
Labels: Merge Scheduled, Wallets

#3262 Update events page
  _events.yml
Labels: Events, Merge Scheduled

#3266 Gemfile: Upgrade RedCloth
  Gemfile
  Gemfile.lock
Labels: Merge Scheduled, Security

#3272 Update Events Page
  _events.yml
Labels: Events, Merge Scheduled

#3274 gitignore: Adds '.jekyll-cache/'
  .gitignore
Labels: Merge Scheduled

#3187 Add Australian exchange BTC Markets to exchange page.
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3275 exchanges: Remove Hodl Hodl
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3280 wallets: Drop mixing/shuffling filter
  _includes/layout/base/helper-step-4.html
  _includes/layout/base/wallets-selector.html
  _posts/2019-09-24-new-design-for-wallet-pages.md
  _translations/en.yml
  _translations/ja.yml
  _wallets/wasabi.md
Labels: Merge Scheduled, Wallets

#3283 Update events page
  _events.yml
Labels: Events, Merge Scheduled

#3284 exchanges: Drop BL3P
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3273 Small P2P Network document fix
  _data/devdocs/en/references/p2p_networking.md
Labels: Dev Docs
