Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2020-07, with the labels that each got.

#3313 Add River Financial as an exchange in the US
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3402 Remove Coinmama from list of exchanges
  _templates/exchanges.html
Labels: Exchanges

#3408 HSTS preload for wallets
  docs/managing-wallets.md
Labels: Wallets

#3404 Change Neutral wallet score label to Not applicable
  _translations/en.yml
Labels: Wallets
