Repository bitcoin-dot-org/Bitcoin.org, pull requests merged in 2020-03, with the labels that each got.

#3227 Add NovaDAX to exchange list
  _templates/exchanges.html
Labels: Exchanges, Merge Scheduled

#3291 Bitcoin Core 0.19.1
  _releases/v0.19.1.md
Labels: Core

#3292 Remove postponed events from Events page
  _events.yml
Labels: Events, Merge Scheduled

#3295 Update Events Page
  _events.yml
Labels: Events, Merge Scheduled

#3296 resources: Drop 'Bitcoin Volatility Index'
  _templates/resources.html
Labels: Merge Scheduled

#3261 Remove btc.com wallet
  _wallets/btc.com.md
Labels: Merge Scheduled, Wallets

#3270 Add wallet features
  _includes/layout/base/helper-step-4.html
  _includes/layout/base/wallets-selector.html
  _layouts/wallet-container.html
  _sass/_wallets.scss
  _translations/en.yml
  _translations/ja.yml
  img/icons/checked.png
  img/icons/checked.svg
  img/icons/information.png
  img/icons/information.svg
  js/walletSelector.js
Labels: Merge Scheduled, Wallets

#3298 Cleanup after PR 3261 (Removal of BTC.com)
  _translations/de.yml
  _translations/en.yml
  _translations/hu.yml
  _translations/id.yml
  _translations/it.yml
  _translations/ja.yml
  _translations/nl.yml
  _translations/pt_BR.yml
  _translations/ru.yml
  _translations/uk.yml
  img/screenshots/btccomwallet.png
  img/wallet/btccom.png
Labels: Merge Scheduled, Wallets

#3300 events: Reschedule date, 'Portland Bitcoin Conference'
  _events.yml
Labels: Events, Merge Scheduled

#3302 Update Events Page
  _events.yml
Labels: Events, Merge Scheduled
